/* preEdited
explanationBox
explanation-item */

.preEdited {
  width:clamp(17rem, 20rem, 23rem); 
  margin: 0.8rem 1.5rem;
}
  .explanationBox {
    font-size: clamp(0.4rem, 0.8rem, 1.2rem);  
    padding: 1rem;
    max-width: 90%;
  }
  @media screen and (max-width: 30rem) {
    .explanationBox {
      width: 70%; 
      text-align: center;
    }  
  }

  @media screen and (min-width: 50rem) and (max-width: 61.9rem) {
    .codeBlock {
      display: flex;
      max-width: 90%;
      padding: 2rem 2rem;
      flex-direction: column;
      align-items: center;
  }
}
@media screen and (min-width: 62rem) and (orientation: landscape)  {
  .codeBlock {
    display: flex;
    max-width: 80%;
    padding: 2rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 49.9rem) {

.codeBlock {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

@media screen and (max-width: 20rem) {
  .preEdited {
    width: 16rem;    
    font-size: 0.7rem;
    margin: 0.5rem;
  }
}