.withoutFloatDemo {
    width: 19rem;
    height: clamp(20rem, 20rem, 20rem);
    background-color: lightpink;
}

.withFloatDemo {
    width: 19rem;
    height: clamp(20rem, 20rem, 20rem);
    background-color: lightskyblue;
}

.divDescription {
    text-align: center;
    padding: 2rem 0.8rem;
    color: white;
}

.floatDemos {
    position: relative;
    z-index: 0;
}

@media screen and (min-width: 49.91rem) {
    .floatDemos {
        display: flex;
    }
}

.childrenWithoutFloat, .childrenWithFloat {
    width: clamp(9rem, 9rem, 9rem);
    height: clamp(9rem, 9rem, 9rem);
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    position: relative;
    top: 0.5rem;
}

.childOne {
    background-color: rebeccapurple;
}

.childTwo {
    background-color: aquamarine;
}

.childThree {
    background-color: lightseagreen;
    float: left;
}

.childFour {
    background-color: orchid;
    float: right;
}


