.main {
  width: 80%;
  height: 80%;
  text-align: center;
  padding-bottom: 4rem;
}

.buttonsHome {
  border: none;
  padding: 0.4rem 3.5rem;
  margin: 0.8rem;
  background-color: rebeccapurple;
  color: white;
}