.hoveredButton {
    width: clamp(15rem,20rem,23rem);
    height: clamp(7rem,7rem,7rem);
    font-size: clamp(2rem, 2rem, 2rem);
    cursor: pointer;
    background-color: rgb(251, 173, 173);
    border: none;
    color: white;
    border-radius: clamp(0.5rem, 0.5rem, 0.5rem);
}

.hoveredButtonSection {
    height: 10rem;
}

@media screen and (max-width: 20rem) {
    .hoveredButton {
      width: 15rem; 
    }
  }

  @media screen and (max-width: 30rem) {
    .hoveredButtonSection {
      height: 13rem;
  }
  }